<div class="container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
<div class="container">
  <div class="row align-items-start">
    <div class="col-3" *ngFor="let event of events">
      <div class="card">
        <h5 class="card-title">{{event.nom}}</h5>
        <div class="card-body">
          <p class="card-text">{{event.description.substr(0,100)}}</p>
          <a [routerLink]="['/eventdetails/', event._id]"><button class="btn btn-primary">Plus de détails</button></a>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{event.contact}}</small>
        </div>

      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>