<div >
  <form #recommandationForm="ngForm" class="form-horizontal" (ngSubmit)="recommandationForm.valid && onSubmit(recommandationForm)" >
    <input type="hidden" #prof="ngModel" [(ngModel)]="userDetails1.username" name="prof"
     >
  
    
      
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Name:</label>
    <div class="col-sm-10">
      <input type="text" #name="ngModel" [(ngModel)]="userService.selectedRecommandation.name" name="name" placeholder="name"
      required >    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="description">Description:</label>
    <div class="col-sm-10">
      <input type="text" #description="ngModel" [(ngModel)]="userService.selectedRecommandation.description" name="description" placeholder="description"
      required >    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="rating">Rating:</label>
    <div class="col-sm-10">
      <bar-rating  #rating="ngModel" name="rating"  [(ngModel)]="userService.selectedRecommandation.rating" [(rate)]="userService.selectedRecommandation.rating" [max]="5"></bar-rating>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox" required> Confirm Recommandation to {{userDetails.nom}} {{userDetails.prenom}}</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <input type="submit" value="Give Recommandation">

    </div>
  </div>
</form>
  <!-- Success message -->
  <div class="success" *ngIf="showSuccessMessage">
    Saved Successfully
  </div>
  <div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>
</div>