
  <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)" >
  
    <input type="text" #nom="ngModel" [(ngModel)]="eventService.selectedEvent.nom" name="nom" placeholder="nom"
     required  >
     <input type="text" #description="ngModel" [(ngModel)]="eventService.selectedEvent.description" name="description" placeholder="description"
     >
     <input type="text" #club="ngModel" [(ngModel)]="eventService.selectedEvent.club" name="club" placeholder="club"
      >

      <div style="text-align: center;"><label for="started_date">Event starts</label><input type="datetime-local" #started_date="ngModel" [(ngModel)]="eventService.selectedEvent.started_date" name="started_date" placeholder="started_date"
    required  >    <br>
    <label for="started_date">Event ends</label>
      <input type="datetime-local" #end_date="ngModel" [(ngModel)]="eventService.selectedEvent.end_date" name="end_date" placeholder="end_date"
     required ></div>
     <input type="text" #facebook="ngModel" [(ngModel)]="eventService.selectedEvent.facebook" name="facebook" placeholder="facebook"
     >
     <input type="text" #site_web="ngModel" [(ngModel)]="eventService.selectedEvent.site_web" name="site_web" placeholder="site web"
     >
     <input type="text" #contact="ngModel" [(ngModel)]="eventService.selectedEvent.contact" name="contact" placeholder="contact"
required>
<input type="text" #form="ngModel" [(ngModel)]="eventService.selectedEvent.form" name="form" placeholder="form"
>
    
     <input type="submit" value="Add Event"  >
   </form>
   
   <!-- Success message -->
   <div class="success" *ngIf="showSuccessMessage">
     Saved Successfully
   </div>
   <div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
   </div>
   