<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="./annuaire">Annuaire </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Emploi</a>
      </li>
      <li class="nav-item" *ngIf="isProf()">
        <a class="nav-link" href="#">Recommandation</a>
      </li>

    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="nav-link" routerLink="./userprofile" *ngIf="userService.getToken()">Profil<span
          class="sr-only">(current)</span></a>

    </div>
  </div>
</nav>