<div>
  <img src="/assets/img/Users.png" alt="User Icon" id="icon">
</div>
<form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
  <input type="text" name="email" required [pattern]="emailRegex" placeholder="email" #email="ngModel"
    [(ngModel)]="model.email" [ngClass]="{'invalid-textbox':signInForm.submitted&&!email.valid}">
  <div *ngIf="signInForm.submitted && email.errors?.pattern">
    <label class="validation-message">This field is required.</label>
  </div>
  <input type="password" #password="ngModel" [(ngModel)]="model.password" name="password" placeholder="Password"
    minlength="4" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
  <div *ngIf="signInForm.submitted && password.errors?.minlength">
    <label class="validation-message">Minimum 4 characters.</label>
  </div>
  <input type="submit" value="Sign In">
</form>

<p>Forgot password? <a routerLink="/">Reset Password</a></p>

<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>