<form #addOffreForm="ngForm" (ngSubmit)="addOffreForm.valid && onSubmit(addOffreForm)">
    <input type="hidden" #indus="ngModel" [(ngModel)]="userDetails1._id" name="indus"/>    <input type="text" #name="ngModel" [(ngModel)]="offreService.selectedOffer.name" name="name" placeholder="Offer Name">
    <input type="text" #description="ngModel" [(ngModel)]="offreService.selectedOffer.description" name="description" placeholder="description">

   
    <select multiple="multiple" name="skills" [(ngModel)]="offreService.selectedOffer.skills" #skills="ngModel" class="form-control"
      id="exampleFormControlSelect2" >
      <option value="" disabled selected>Select Name</option>
      <option *ngFor="let skill of skills1" [value]="skill.name">{{skill.name}}</option>
    </select>
  
    <input type="submit" value="Add">
  </form>
  <div class="success" *ngIf="showSuccessMessage">
    Saved Successfully
  </div>
  <div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>
  <script type="text/javascript">
    $(".tm-input").tagsManager();
</script>